
blockquote { border: 3px dotted rgb(204, 204, 204); padding: 0px 3px; margin: 20px 0px; font-size: 1.25rem; line-height: 1.5; }
body:has(:checked) blockquote { overflow: auto; }
:checked + code, :not(:checked) + code + code { outline: green solid 1px; }
p:nth-last-of-type(n+2) { font-weight: bold; }
blockquote { width: 200px; }
blockquote:nth-of-type(2) { width: 600px; }
blockquote:nth-of-type(3) { height: 200px; }
blockquote { inline-size: max-content; aspect-ratio: 1 / 1; }
blockquote { border: 1px solid rgb(204, 204, 204); padding: 1px; margin: 20px 0px; background-color: rgb(237, 237, 237); }