
.container { display: grid; font-family: sans-serif; font-size: 14px; color: white; grid-template-columns: repeat(5, 1fr); gap: 4px; }
.container div { border-radius: 8px; padding: 8px 4px; }
#lab-100 { background-color: lab(50 -125 0); }
#lab-75 { background-color: lab(50 -93.75 0); }
#lab-50 { background-color: lab(50 -62.5 0); }
#lab-25 { background-color: lab(50 -31.25 0); }
#lab-0 { background-color: lab(50 0 0); }
#lab--25 { background-color: lab(50 31.25 0); }
#lab--50 { background-color: lab(50 62.5 0); }
#lab--75 { background-color: lab(50 93.75 0); }
#lab--100 { background-color: lab(50 125 0); }
#oklab-4 { background-color: oklab(0.5 0 -0.4); }
#oklab-3 { background-color: oklab(0.5 0 -0.3); }
#oklab-2 { background-color: oklab(0.5 0 -0.2); }
#oklab-1 { background-color: oklab(0.5 0 -0.1); }
#oklab-0 { background-color: oklab(0.5 0 0); }
#oklab--1 { background-color: oklab(0.5 0 0.1); }
#oklab--2 { background-color: oklab(0.5 0 0.2); }
#oklab--3 { background-color: oklab(0.5 0 0.3); }
#oklab--4 { background-color: oklab(0.5 0 0.4); }