
div { width: 250px; height: 130px; padding: 10px; margin: 10px; display: inline-block; background: url("../colorful-heart.png/index.html.png") center 20px no-repeat green; }
.multiply { background-blend-mode: multiply; }