
a { border: 1px solid; border-radius: 3px; display: inline-block; margin: 10px; padding: 5px; }
a:focus { outline: rgb(238, 119, 51) dotted 4px; outline-offset: 4px; background: rgb(255, 255, 170); }