
body { margin: 0px; height: 100vh; display: flex; }
.content, .scroller { flex: 1 1 0%; }
.scroller { overflow: scroll; background: deeppink; }
.long-element { height: 2000px; }
.box { width: 100px; height: 100px; border-radius: 10px; background-color: rebeccapurple; position: fixed; top: 20px; left: 0%; }
.animation { animation: rotate-appear; }
@keyframes rotate-appear { 
  0% { rotate: 0deg; left: 0%; }
  100% { rotate: 720deg; left: 100%; }
}