
div:has(~ p input:checked) { filter: grayscale(100%); }
p { margin: 0px; }
div { height: 50px; margin-bottom: 10px; }
#srgb { background: linear-gradient(to right, rgb(255, 0, 0), rgb(128, 255, 0), rgb(0, 255, 255), rgb(128, 0, 255), rgb(255, 0, 0)); }
#lch { background: linear-gradient(to right, lch(50 150 0), lch(50 150 90), lch(50 150 180), lch(50 150 270), lch(50 150 0)); }
#oklch { background: linear-gradient(to right, oklch(0.5 0.4 0), oklch(0.5 0.4 90), oklch(0.5 0.4 180), oklch(0.5 0.4 270), oklch(0.5 0.4 0)); }
.container { display: grid; font-family: sans-serif; font-size: 14px; color: white; grid-template-columns: repeat(6, 1fr); gap: 4px; }
[id$="99"], [id$="90"], [id$="80"] { color: lch(1 40 0); }
.container div { border-radius: 8px; padding: 8px 4px; }
#lch-1 { background-color: lch(1 40 0); }
#lch-10 { background-color: lch(10 40 0); }
#lch-20 { background-color: lch(20 40 0); }
#lch-30 { background-color: lch(30 40 0); }
#lch-40 { background-color: lch(40 40 0); }
#lch-50 { background-color: lch(50 40 0); }
#lch-60 { background-color: lch(60 40 0); }
#lch-70 { background-color: lch(70 40 0); }
#lch-80 { background-color: lch(80 40 0); }
#lch-90 { background-color: lch(90 40 0); }
#lch-99 { background-color: lch(99 40 0); }
#oklch-1 { background-color: oklch(0.01 0.12 0); }
#oklch-10 { background-color: oklch(0.1 0.12 0); }
#oklch-20 { background-color: oklch(0.2 0.12 0); }
#oklch-30 { background-color: oklch(0.3 0.12 0); }
#oklch-40 { background-color: oklch(0.4 0.12 0); }
#oklch-50 { background-color: oklch(0.5 0.12 0); }
#oklch-60 { background-color: oklch(0.6 0.12 0); }
#oklch-70 { background-color: oklch(0.7 0.12 0); }
#oklch-80 { background-color: oklch(0.8 0.12 0); }
#oklch-90 { background-color: oklch(0.9 0.12 0); }
#oklch-99 { background-color: oklch(0.99 0.12 0); }