
svg { border: 1px solid; height: calc(-20px + 100vh); margin-bottom: 10px; }
polygon:first-of-type { fill: url("../%23myGradient/index.html") magenta; }
polygon:last-of-type { fill: url("../%23MISSINGIMAGE/index.html") magenta; }