
.container { position: relative; display: inline-block; width: 200px; height: 200px; border: 1px solid black; margin: 15px; text-align: center; }
.path { width: 40px; height: 40px; background-color: red; position: absolute; animation: 10s linear infinite move; }
.rect-path-1 { offset-path: rect(50px 150px 200px 50px round 20%); }
.rect-path-2 { offset-path: rect(50px auto 200px 50px round 20%); }
.rect-path-3 { offset-path: rect(50px auto 200px auto); }
@keyframes move { 
  0% { offset-distance: 0%; }
  100% { offset-distance: 100%; }
}