
@keyframes growshrink { 
  25%,75% { scale: 1; }
  50% { scale: 2; color: magenta; }
}
p { animation-duration: 3s; animation-name: slidein; }
p span { display: inline-block; animation-duration: 3s; animation-name: growshrink; }
@keyframes slidein { 
  0% { translate: 150vw; scale: 2 1; }
  100% { translate: 0px; scale: 1; }
}
@keyframes growshrink { 
  25%,75% { scale: 1; }
  50% { scale: 2; color: magenta; }
}