.project {
    width: 100%;
    height: 100%;
    padding: 2rem;
    box-sizing: border-box;
}

.instructions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  height: 5%;
  margin-bottom: 1%;
  width: 100%;
}

.instruction {
    background-color: var(--primary5);
    border: 1px solid var(--primary20);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    height: 100%;
    
}

.edit_classes {
    display: flex;
    align-items: center;
}


.code-area {
  grid-row: 2 / 4;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
}

.code-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 7.5%;
}

.css_type_selector_select {
    padding: 0.25rem 0.5rem;
    outline: none;
    border: none;
    background-color: var(--primary5);
    border: 1px solid var(--primary20);
    border-radius: 0.5rem;
}

.tab-switcher {
  display: flex;
}

.tab {
  padding: 5px 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  border-bottom: 2px solid transparent;

  transition: all 0.2s ease;
}

.tab.active {
  border-bottom: 2px solid var(--primary);
}

.code-type-selector select {
  padding: 5px;
}



.body {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 95%;
}

.section {
    width: 50%;
    height: 100%;
}

.section.left {
    width: 59%;

    display: flex;
    flex-direction: column;

    justify-content: space-between;
}

.section.right {
    width: 39%;

    border: 1px solid var(--primary20);
    background-color: var(--secondary5);
    border-radius: 1rem;
}

.render {
    height: 59%;
    overflow: hidden;
}

.style_button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;

    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    width: 7.5rem;
    height: 100%;
    background-color: var(--primary60);
    border: 1px solid var(--secondary40);
    font-size: 1rem;
    transition: all 0.3s ease;
}

.style_button:hover {
    background-color: var(--primary80);
    transform: scale(1.01);
    translate: 0 -1px;
    box-shadow: 0 1px 2px var(--secondary20);
}

.style_button:active {
    background-color: var(--primary90);  /* Even darker shade */
    transform: translateY(1px);
}



/* handling the code input area */

.ace_gutter {
    background-color: var(--primary5) !important;
}

.ace_gutter-active-line {
    background-color: var(--primary10) !important;
}