.sidebar {
  width: 13.5rem;
  background-color: var(--primary5);
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  height: 100%;
  border-right: 1px solid var(--primary20);
}

.sidebar_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;

    padding-bottom: 0;
}



.sidebar-title {
    color: var(--primary);
    font-size: 1.5rem;
    margin: 0;
}

.new-project-icon {
    cursor: pointer;
    color: var(--primary);
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

.new-project-icon:hover {
    color: var(--accent);
}

.projects-container {
    flex: 1;
    overflow-y: auto;
    width: 100%;
    padding: 0 10px;
}

.projects {
    display: flex;
    flex-direction: column;
}

.project-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.project-item:hover, .project-item.active {
    background-color: var(--primary10);
}

.project-item.active {
    background-color: var(--primary20);
}

.project-link {
    text-decoration: none;
    color: var(--text);
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.project-name {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px;
}

.project-actions {
    display: flex;
    gap: 5px;
}

.project-action-icon {
    cursor: pointer;
    color: var(--text);
    font-size: 0.9rem;
    transition: color 0.3s ease;
}

.project-action-icon:hover {
    color: var(--primary);
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    border: 1px solid var(--primary20);
    border-radius: 5px;
}

.new-project {
    margin-top: 20px;
    background-color: var(--primary60);
    color: var(--textcontrast);
    text-align: center;
    font-weight: bold;
}

.new-project:hover {
    background-color: var(--primary80);
}

.no_projects {
    text-align: center;
    color: var(--primary);
    font-weight: 500;
    margin-top: 20px;
}

.project_updated_icon {
    width: 10px;
    margin-right: 10px;
}

.glowing-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(8, 154, 8, 0.8);
    box-shadow: 0 0 15px rgb(8, 154, 8);
}

.spinning-indicator {
    width: 10px;
    height: 10px;
    border: 2px solid var(--primary);
    border-top: 2px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }