
.thin { text-decoration: underline; text-decoration-style: solid; text-decoration-color: red; text-decoration-thickness: 1px; }
.thick { text-decoration: underline; text-decoration-style: solid; text-decoration-color: red; text-decoration-thickness: 5px; }
.shorthand { }