
div { background-color: yellow; width: 120px; height: 120px; }
.exampleText { writing-mode: vertical-rl; border-inline-start-width: 5px; border-inline-start-style: dashed; border-inline-start-color: blue; }