
div, p { border-radius: 50%; }
div { width: 200px; padding: 5px; background-color: rgb(102, 204, 255); }
p { aspect-ratio: 1 / 1; text-align: center; border: 10px solid rgb(255, 255, 255); background-color: rgb(244, 170, 185); }
section { display: flex; gap: 20px; }
div { width: 200px; padding: 5px; background-color: rgb(102, 204, 255); }
p { text-align: center; border: 10px solid rgb(255, 255, 255); background-color: rgb(244, 170, 185); }
div, p { aspect-ratio: 1 / 1; border-radius: 50%; }
div:first-of-type { overflow: hidden; }
div:last-of-type p { margin-block: 0px; }