
.potl { perspective-origin: left top; }
.potm { perspective-origin: center top; }
.potr { perspective-origin: right top; }
.poml { perspective-origin: left center; }
.pomm { perspective-origin: 50% 50%; }
.pomr { perspective-origin: right center; }
.pobl { perspective-origin: left bottom; }
.pobm { perspective-origin: center bottom; }
.pobr { perspective-origin: right bottom; }
.po200200neg { perspective-origin: -200% -200%; }
.po200200pos { perspective-origin: 200% 200%; }
.po200200 { perspective-origin: 200% -200%; }
.container { width: 100px; height: 100px; margin: 24px; border: medium; }
.cube { width: 100%; height: 100%; perspective: 300px; transform-style: preserve-3d; }
.face { display: block; position: absolute; width: 100px; height: 100px; border: medium; line-height: 100px; font-family: sans-serif; font-size: 60px; color: white; text-align: center; backface-visibility: visible; }
.front { background: rgba(0, 0, 0, 0.3); transform: translateZ(50px); }
.back { background: rgb(0, 255, 0); color: black; transform: rotateY(180deg) translateZ(50px); }
.right { background: rgba(196, 0, 0, 0.7); transform: rotateY(90deg) translateZ(50px); }
.left { background: rgba(0, 0, 196, 0.7); transform: rotateY(-90deg) translateZ(50px); }
.top { background: rgba(196, 196, 0, 0.7); transform: rotateX(90deg) translateZ(50px); }
.bottom { background: rgba(196, 0, 196, 0.7); transform: rotateX(-90deg) translateZ(50px); }
section { background-color: rgb(238, 238, 238); padding: 10px; font-family: sans-serif; text-align: left; display: grid; grid-template-columns: repeat(3, 1fr); }