
.exampleone { background-color: transparent; }
.exampletwo { background-color: rgb(153, 102, 153); color: rgb(255, 255, 204); }
.examplethree { background-color: rgb(119, 119, 153); color: rgb(255, 255, 255); }