
.anchor { background: palegoldenrod; font-size: 3em; width: fit-content; border: 1px solid goldenrod; }
.positionedElement { position: absolute; margin: 0px; background-color: olive; border: 1px solid darkolivegreen; }