
body { display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 10px; }
div { height: 50px; flex: 0 0 28%; border: 1px solid black; }
[data-color="redyellow"] { background-color: oklab(0.5 0.4 0.4); }
[data-color="redzero"] { background-color: oklab(0.5 0.4 0); }
[data-color="redblue"] { background-color: oklab(0.5 0.4 -0.4); }
[data-color="zeroyellow"] { background-color: oklab(0.5 0 0.4); }
[data-color="zerozero"] { background-color: oklab(0.5 0 0); }
[data-color="zeroblue"] { background-color: oklab(0.5 0 -0.4); }
[data-color="greenyellow"] { background-color: oklab(0.5 -0.4 0.4); }
[data-color="greenzero"] { background-color: oklab(0.5 -0.4 0); }
[data-color="greenblue"] { background-color: oklab(0.5 -0.4 -0.4); }